table{
    width: 100%;
    column-width: auto;
    border: none;
    border-spacing: 0px;
}

#firstPlace{
    background-color: 	#FFD700;
}

#secondPlace {
    background-color: #D8D8D8;
}

#thirdPlace {
    background-color: #fd6262;
}
