#difficultyLabel, #categoryLabel {
	margin: 20px;
}

#difficulty, #category {
	margin-left: 5px;
}

body, main, html {
	text-align: center;
	margin: 0;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
}

form {
	display: inline-block;
	margin: 0 auto;
}

#quizSubmitButton {
	background-color: cornflowerblue;
	margin-top: 50px;
}

.selectedAnswer {
	background-color: rgb(0, 156, 0);
}

progress {
	transform: translate(-1%, -2px);
}

#timeCounter {
	display: inline-block;
	position: relative;
}

#counters {
	display: inline-block;
	position: absolute;
}

.endOfGameCounterPosition {
	transform: translate(-50%, 70%);
	font-size: 30px;
}

.defaultCounterPosition {
	right: 20px;
	bottom: 0;
}

p {
	margin: 0;
}

#startTheQuiz {
	align-self: initial;
	min-height: 40px;
}

#startTheQuiz:hover {
	background-color: cornflowerblue;
	transition: 0.5s;
}

#mainTitle {
	font-size: 50px;
}

select {
	margin-top: 10px;
}