#difficultyLabel, #categoryLabel {
	margin: 20px;
}

#difficulty, #category {
	margin-left: 5px;
}

body {
	text-align: center;
}

form {
	display: inline-block;
	margin: 0 auto;
}

#quizSubmitButton {
	background-color: cornflowerblue;
	margin-top: 50px;
}