version: '3'
services:
  server:
    image: node:12.18.4
    environment: 
      - DB_NAME=quizzlybears
      - DB_CONNECTION=mongodb://mustard:marywilkes@db:27017
    depends_on:
      - db
    volumes:
      - type: bind
        source: ./
        target: /code
  db:
    image: mongo:latest
    volumes:
      - "./db/seeds.js:/docker-entrypoint-initdb.d/seeds.js:ro"
    environment: 
      - MONGO_INITDB_ROOT_USERNAME=mustard
      - MONGO_INITDB_DATABASE=quizzlybears
      - MONGO_INITDB_ROOT_PASSWORD=marywilkes
volumes:
  dbdata:
